@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

video,
picture,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
}

input {
    outline: none;
}

a {
    text-decoration: none;
    color: $color-secundario;
    &:hover {
        text-decoration: none;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'GalanoGrotesque';
    background: linear-gradient(144.03deg, #000000 40.92%, #07836F 87.77%), #FFFFFF;
}

section {
    overflow-x: hidden;
}

.row {
    margin: 0;
}

main {
    p,
    li,
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $color-secundario;
    }
}