.staking,
.transiciones,
.slider-platform,
.pasos,
.participacion,
.reglas {
    padding-top: 58px;
    padding-bottom: 58px;
}

.subtitle {
    font-size: calc(28px + 1.3wv);
    margin-bottom: 30px;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}

.show-number {
    opacity: 0;
}

.animation-number {
    animation: aparecer 1.3s;
    -webkit-animation: aparecer 1.3s;
}

.requisitos,
.pasos,
.reglas {
    border-bottom: 1px solid $color-secundario;
}

.staking {
    position: relative;
    min-height: 100vh;
    padding-top: calc(30px + 6vw);
    background: url(../img/velas.png) top;
    .staking-content {
        &__title {
            padding-top: calc(10px + 2vw);
            h2,
            h1 {
                font-size: 80px;
            }
            h2 {
                font-weight: 300;
            }
        }
        .btn-evulus {
            font-size: 73px;
            margin: 50px auto;
            display: table;
            border-radius: 20px;
            position: relative;
            left: -10%;
        }
        &__parrafo {
            font-size: calc(14px + .5vw);
            h4 {
                color: $color-texo;
                padding: 8px;
                font-size: calc(18px + .5vw);
                background: $color-btn;
                width: fit-content;
                border-radius: $borde-radius-medium;
            }
        }
    }
    &__img {
        position: relative;
        margin: 0 auto;
        max-width: 400px;
        img {
            position: absolute;
            left: -110px;
        }
    }
    .btn-green {
        margin: 30px auto 0px auto;
    }
}


/* --------------------- REQUISITOS --------------------- */

.requisitos {
    border-top: 1px solid $color-secundario;
    .participacion {
        width: 85%;
        margin: 0 auto;
        .participacion-content {
            p {
                font-size: calc(14px + .4vw);
            }
            &__items-2 {
                width: fit-content;
                border: 1px solid $color-secundario;
                border-radius: 10px;
                a {
                    margin: 5px;
                    width: 40px;
                    background: transparent;
                    span {
                        font-size: 8px;
                        font-weight: 700;
                    }
                }
            }
            &__items-1 {
                width: fit-content;
                a {
                    margin: 5px;
                    border: 1px solid $color-secundario;
                    border-radius: 5px;
                    padding: 5px 10px;
                    background: transparent;
                    img {
                        width: 110px;
                    }
                }
            }
            .btn-evulus-white {
                margin: 40px auto;
            }
        }
    }
}


/* ------------------------ PASOS ----------------------- */

.pasos-buttons {
    margin-top: 20px;
}


/* ----------------------- .REGLAS ---------------------- */

.reglas {
    .row {
        width: 85%;
        margin: 0 auto;
    }
    &__list {
        list-style: decimal-leading-zero;
        margin-left: 40px;
        position: relative;
        font-size: calc(17px + .5vw);
        font-weight: 600;
        li {
            margin-bottom: 10px;
        }
        &::after {
            position: absolute;
            content: "";
            width: 30px;
            left: calc(-30px + -40px);
            top: 50%;
            transform: translateY(-50%);
            height: 30px;
            background: url(../icons/i-icon.png);
        }
    }
    .btn-evulus-medium {
        // margin: 20px 0px;
    }
}

.slider-platform {
    background: $color-secundario;
}

.transiciones {
    .contador-container {
        color: $color-secundario;
        h5,
        span {
            font-size: calc(40px + 2.5vw);
        }
        p {
            font-size: calc(18px + .5vw);
        }
    }
}


/* ----------------------- CONTACT ---------------------- */

.contact {
    padding: 80px 0px;
    color: $color-secundario;
    text-align: center;
    position: relative;
    &__content {
        position: relative;
        height: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
            font-size: calc(18px + 1vw);
            margin: 0;
            font-weight: 400;
        }
        h2 {
            font-size: calc(32px + 1vw);
            font-weight: 600;
        }
    }
}