@media screen and (max-width:1400px) {
    .container {
        max-width: 1280px;
    }
    .staking {
        padding-top: calc(40px + 3vw);
        .staking-content {
            &__title {
                padding-top: calc(10px + 1.5vw);
                h1,
                h2 {
                    font-size: calc(30px + 3vw);
                }
            }
            .btn-evulus {
                font-size: calc(20px + 3vw);
                margin: 30px auto;
            }
            &__parrafo {
                h4 {
                    font-size: calc(15px + .5vw);
                }
            }
        }
        &__img {
            img {
                left: -70px;
            }
        }
        .btn-green {
            margin: 30px auto 0px auto;
        }
    }
}

@media screen and (max-width:991px) {
    .staking .staking__img {
        img {
            position: relative;
            left: 0;
        }
    }
}

@media screen and (max-width:767px) {
    .social-icons--white {
        li a img {
            width: 50px;
            height: 50px;
        }
    }
}

// @media screen and(min-width: 768px) {
//     .container {
//         max-width: 800px;
//     }
// }
// @media screen and (min-width: 992px) {
//     .container {
//         max-width: 1200px;
//     }
// }
// @media screen and (min-width:1400px) {
//     .container {
//         max-width: 1400px;
//     }
// }
@media screen and (max-width: 400px) {
    .btn-evulus-white,
    .btn-green,
    .btn-evulus-icon,
    .btn-evulus-medium {
        font-size: 14px
    }
    .btn-green {
        padding: 5px 20px;
    }
}