/* ------------------------ BASE ------------------------ */

@import "base/variables";
@import "base/reset";
@import "base/typograpgy";

/* ----------------------- LAYOUT ----------------------- */

@import "layout/buttons";
@import "layout/slider";
@import "layout/icons";

/* ----------------------- MODULOS ---------------------- */

@import "modulos/header";
@import "modulos/main";
@import "modulos/footer";
@import "modulos/responsive";