/* --------------------- BTN-EVULUS-YELLOW--------------------- */

@mixin btn-personalizado($bg, $padding, $font-size) {
    padding: $padding;
    color: $color-texo;
    background: $bg;
    transition: $transition-all;
    -webkit-transition: $transition-all;
    -moz-transition: $transition-all;
    -ms-transition: $transition-all;
    -o-transition: $transition-all;
    font-weight: 600;
    font-size: $font-size;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;
    height: auto;
    &:focus {
        border: none;
    }
}

.btn-evulus {
    @include btn-personalizado($color-btn, 0px 37px, 1.5rem);
    box-shadow: 0px 0px 2rem $color-btn;
    &:hover {
        box-shadow: 0px 0px 3rem $color-btn;
        color: $color-texo;
    }
}

.btn-green {
    @include btn-personalizado($color-principal, 12px 30px, calc(12px + 1.5vw));
    box-shadow: 0px 0px 2rem white;
    border-radius: 40px;
    color: $color-secundario;
}

.btn-evulus-medium {
    @include btn-personalizado($color-btn, 15px 20px, 1rem);
    &:hover {
        background: #e0a800;
        color: $color-texo !important;
        text-decoration: none !important;
    }
    &:active {
        background: #d39e00;
    }
}

.btn-evulus-icon {
    @include btn-personalizado($color-btn, 5px 25px, 1rem);
    &:hover {
        background: #e0a800;
        color: $color-texo !important;
        text-decoration: none !important;
    }
    &:active {
        background: #d39e00;
    }
    img {
        width: 43px
    }
}

.btn-evulus-small {
    @include btn-personalizado($color-btn, .5rem, 1rem);
    margin: 0;
    border: 2px solid $color-btn;
    &:hover {
        background: #e0a800;
        color: $color-texo !important;
        text-decoration: none !important;
    }
    &:active {
        background: #d39e00;
    }
}

.btn-evulus-white {
    @include btn-personalizado($color-secundario, 5px 35px, calc(12px + 1.8vw));
    color: $color-principal;
    border-radius: 30px;
    box-shadow: 0px 0px 2rem $color-btn;
    text-transform: uppercase
}


/* ----------------------- BTN NAV ---------------------- */

.btn-dark {
    @include btn-personalizado(transparent, 0px 1.5rem 0px, .9rem);
    margin: 10px 15px 10px 0px;
    border: 2px solid $color-principal;
    color: $color-texo;
    &:hover {
        background: $color-principal;
        border: 2px solid $color-principal;
    }
    &:active {
        background: $color-principal;
        color: $color-texo-claro;
        border: 2px solid $color-principal;
    }
    &:focus {
        background: $color-principal;
        color: $color-texo-claro;
        border: 2px solid $color-principal;
    }
}

.btn-dark.active {
    background: $color-principal;
    color: $color-texo-claro;
    border: 2px solid $color-principal;
}

.btn-dark-1 {
    @extend .btn-dark;
    padding: 5px 1.5rem 3px;
    &:hover {
        color: $color-secundario;
    }
}


/* --------------------- BUTTON TOP --------------------- */

.go-top {
    background: $color-principal;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: $borde-radius-medium;
    -webkit-border-radius: $borde-radius-medium;
    -moz-border-radius: $borde-radius-medium;
    -ms-border-radius: $borde-radius-medium;
    -o-border-radius: $borde-radius-medium;
    transition: $transition-all;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: $color-secundario;
    box-shadow: $box-shadow-terciario;
    text-decoration: none;
    pointer-events: none;
    -webkit-transition: $transition-all;
    -moz-transition: $transition-all;
    -ms-transition: $transition-all;
    -o-transition: $transition-all;
    opacity: 0;
    &:hover {
        color: $color-secundario;
    }
}

.go-top.active {
    opacity: 1;
    bottom: 32px;
    pointer-events: auto;
}