/* ------------------------ BASE ------------------------ */
/* ----------------------- COLORS ----------------------- */
/* --------------------- TRANSITION --------------------- */
/* --------------------- BOX-SHADOWS -------------------- */
/* ----------------------- BORDER ----------------------- */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

video,
picture,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "GalanoGrotesque";
  background: linear-gradient(144.03deg, #000000 40.92%, #07836F 87.77%), #FFFFFF;
}

section {
  overflow-x: hidden;
}

.row {
  margin: 0;
}

main p,
main li,
main h1,
main h2,
main h3,
main h4,
main h5 {
  color: #ffffff;
}

@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/GalanoGrotesqueSemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/GalanoGrotesque-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/GalanoGrotesqueExtraBold.ttf) format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque-Heavy.ttf) format("truetype");
  font-weight: 900;
}
/* ----------------------- LAYOUT ----------------------- */
/* --------------------- BTN-EVULUS-YELLOW--------------------- */
.btn-evulus {
  padding: 0px 37px;
  color: black;
  background: #ffbe1b;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  height: auto;
  user-select: none;
  box-shadow: 0px 0px 2rem #ffbe1b;
}
.btn-evulus:focus {
  border: none;
}
.btn-evulus:hover {
  box-shadow: 0px 0px 3rem #ffbe1b;
  color: black;
}

.btn-green {
  padding: 12px 30px;
  color: black;
  background: #08907a;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 600;
  font-size: calc(12px + 1.5vw);
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  height: auto;
  user-select: none;
  box-shadow: 0px 0px 2rem white;
  border-radius: 40px;
  color: #ffffff;
}
.btn-green:focus {
  border: none;
}
.btn-green:hover {
  box-shadow: 0px 0px 3rem #ffffff;
  color: #ffffff;
}

.btn-evulus-medium {
  padding: 15px 20px;
  color: black;
  background: #ffbe1b;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  height: auto;
  user-select: none;
}
.btn-evulus-medium:focus {
  border: none;
}
.btn-evulus-medium:hover {
  background: #e0a800;
  color: black !important;
  text-decoration: none !important;
}
.btn-evulus-medium:active {
  background: #d39e00;
}

.btn-evulus-icon {
  padding: 5px 25px;
  color: black;
  background: #ffbe1b;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  height: auto;
  user-select: none;
}
.btn-evulus-icon:focus {
  border: none;
}
.btn-evulus-icon:hover {
  background: #e0a800;
  color: black !important;
  text-decoration: none !important;
}
.btn-evulus-icon:active {
  background: #d39e00;
}
.btn-evulus-icon img {
  width: 43px;
}

.btn-evulus-small {
  padding: 0.5rem;
  color: black;
  background: #ffbe1b;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  height: auto;
  user-select: none;
  margin: 0;
  border: 2px solid #ffbe1b;
}
.btn-evulus-small:focus {
  border: none;
}
.btn-evulus-small:hover {
  background: #e0a800;
  color: black !important;
  text-decoration: none !important;
}
.btn-evulus-small:active {
  background: #d39e00;
}

.btn-evulus-white {
  padding: 5px 28px;
  color: black;
  background: #ffffff;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 600;
  font-size: calc(12px + 1.5vw);
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  height: auto;
  user-select: none;
  color: #08907a;
  border-radius: 30px;
  box-shadow: 0px 0px 2rem #ffbe1b;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn-evulus-white:focus {
  border: none;
}
.btn-evulus-white:hover {
  box-shadow: 0px 0px 3rem #ffbe1b;
  color: #08907a;
}
.btn-evulus-white:active {
  color: #067260;
}

/* ----------------------- BTN NAV ---------------------- */
.btn-dark, .btn-dark-1 {
  padding: 0px 1.5rem 0px;
  color: black;
  background: transparent;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  height: auto;
  user-select: none;
  margin: 10px 15px 10px 0px;
  border: 2px solid #08907a;
  color: black;
}
.btn-dark:focus, .btn-dark-1:focus {
  border: none;
}
.btn-dark:hover, .btn-dark-1:hover {
  background: #08907a;
  border: 2px solid #08907a;
}
.btn-dark:active, .btn-dark-1:active {
  background: #08907a;
  color: white;
  border: 2px solid #08907a;
}
.btn-dark:focus, .btn-dark-1:focus {
  background: #08907a;
  color: white;
  border: 2px solid #08907a;
  box-shadow: none !important;
}

.btn-dark.active, .active.btn-dark-1 {
  background: #08907a;
  color: white;
  border: 2px solid #08907a;
}

.btn-dark-1 {
  padding: 5px 1.5rem 3px;
}
.btn-dark-1:hover {
  color: #ffffff;
}

/* --------------------- BUTTON TOP --------------------- */
.go-top {
  background: #08907a;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 14px -6px;
  text-decoration: none;
  pointer-events: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  opacity: 0;
}
.go-top:hover {
  color: #ffffff;
}

.go-top.active {
  opacity: 1;
  bottom: 32px;
  pointer-events: auto;
}

.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

.owl-carousel {
  z-index: 0;
}

.owl-carousel .item {
  position: relative;
  z-index: 100;
  margin: 0 auto;
  width: 80px;
  color: #08907a;
  text-align: center;
  -webkit-backface-visibility: hidden;
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

.social-icons {
  flex-wrap: wrap;
}
.social-icons li a img {
  width: 30px;
  height: 30px;
  margin: 0.5rem;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.social-icons li a img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.social-icons--white li a img {
  filter: brightness(0) invert(100%);
  -webkit-filter: brightness(0) invert(100%);
  width: 70px;
  height: 70px;
}

/* ------------------------ MODAL ----------------------- */
.modal-dialog {
  max-width: none;
}
.modal-dialog .modal-content {
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.418);
  margin: 0 auto;
  background: url(../img/bg_modal.png) no-repeat center;
  background-size: inherit;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  width: 650px;
  position: relative;
  padding: 20px 0px;
}
.modal-dialog .modal-content .modal-header-cal,
.modal-dialog .modal-content .cantidad,
.modal-dialog .modal-content .montos,
.modal-dialog .modal-content .modal-footer-cal {
  border-bottom: 1px solid #ffffff;
  padding: 20px 50px;
}
.modal-dialog .modal-content .btn-close {
  position: absolute;
  right: 20px;
  filter: invert(1);
  -webkit-filter: invert(1);
  opacity: 1;
}
.modal-dialog .modal-content .modal-header-cal {
  text-align: center;
  color: #ffffff;
}
.modal-dialog .modal-content .modal-header-cal h2 {
  font-size: 3rem;
}
.modal-dialog .modal-content .modal-main-cal .cantidad {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}
.modal-dialog .modal-content .modal-main-cal .cantidad .cantidad-evu h5 {
  color: #ffffff;
}
.modal-dialog .modal-content .modal-main-cal .cantidad .cantidad-evu .data-value {
  font-size: 1rem;
  margin: 0 auto;
  width: 180px;
  height: 44px;
}
.modal-dialog .modal-content .modal-main-cal .cantidad .component-day .day-mes {
  justify-content: center;
}
.modal-dialog .modal-content .modal-main-cal .montos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.modal-dialog .modal-content .modal-main-cal .montos .data-value {
  width: 80%;
}
.modal-dialog .modal-content .modal-footer-cal {
  text-align: center;
  border-bottom: none;
}
.modal-dialog .modal-content .modal-footer-cal .component-mensual {
  flex-wrap: wrap;
  justify-content: center;
}
.modal-dialog .modal-content .modal-footer-cal .component-mensual .meses {
  width: 100%;
}
.modal-dialog .modal-content .modal-footer-cal .component-mensual .mensual-total button {
  width: 100%;
}
.modal-dialog .modal-content .modal-footer-cal .component-mensual .mes-title,
.modal-dialog .modal-content .modal-footer-cal .component-mensual .mensual-total__title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-select,
.data-value {
  width: calc(50% - 20px);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 7px solid #ffffff;
  height: 54px;
  background: #f2f2f1;
  padding: 0rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: #676767;
  font-size: 1rem;
}
.form-select input,
.data-value input {
  width: 80%;
  background: transparent;
  color: inherit;
  text-align: start;
}

/* ------------------------ component-rango----------------------- */
.next {
  width: 0;
  height: 0;
  border-left: 14px solid #ffffff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.prev {
  width: 0;
  height: 0;
  border-right: 15px solid #ffffff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.slider-range {
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 10px;
  margin: 10px auto;
}
.slider-range .porcentaje {
  padding-bottom: 2px;
}
.slider-range .slider {
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-range .slider .range {
  width: 100%;
  height: 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-appearance: none;
  outline: none;
}
.slider-range .slider .range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #2baae2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 0 0 #2baae2;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}
.slider-range .slider .range::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 7px #2babe225;
}

/* -------------------- COMPONENT-DAY ------------------- */
.component-day .day-mes {
  display: flex;
}
.component-day .day-mes .day-mes__title {
  color: #ffffff;
  width: 75px;
}
.component-day .day-mes__items {
  display: flex;
  width: 87%;
  justify-content: space-between;
}
.component-day .day-mes__items span {
  height: 25px;
  padding: 0px 8px;
  background: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 500;
}

/* ----------------- .COMPONENTE-MENSUA ----------------- */
.component-mensual {
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  justify-content: space-between;
  flex-wrap: wrap;
}
.component-mensual .meses {
  width: 80%;
}
.component-mensual .meses .mes-title {
  font-size: 1.3rem;
}
.component-mensual .meses .mes__items-container {
  text-align: center;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}
.component-mensual .meses .mes__items-container .item-mes {
  width: 40px;
  margin: 2px;
}
.component-mensual .meses .mes__items-container .item-mes .item-mensual__value {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: transparent;
  border: 1px solid white;
  cursor: pointer;
  transition: all 300ms;
}
.component-mensual .meses .mes__items-container .item-mes .item-mensual__value.active {
  background: #ffbe1b;
  border: 1px solid #ffbe1b;
  color: black;
}
.component-mensual .meses .mes__items-container .item-mes .item-mensual__value:hover {
  background: #ffbe1b;
  border: 1px solid #ffbe1b;
  color: black;
}
.component-mensual .mensual-total__title {
  text-align: center;
  font-size: 1.3rem;
}
.component-mensual .mensual-total button {
  padding: 0px 20px 8px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 2px;
  background: #ffbe1b;
  border: 1px solid #ffbe1b;
  color: black;
  font-weight: 500;
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  .modal .modal-content {
    width: 85%;
  }
}
@media screen and (max-width: 575px) {
  .modal-dialog .modal-content .modal-header-cal,
.modal-dialog .modal-content .cantidad,
.modal-dialog .modal-content .montos,
.modal-dialog .modal-content .modal-footer-cal {
    padding: 10px;
    border: none;
  }
  .modal-dialog .modal-content .modal-header-cal {
    padding-top: 20px;
  }
  .modal-dialog .modal-content .modal-header-cal h2 {
    font-size: 35px;
  }
  .modal-dialog .modal-content .modal-main-cal .cantidad {
    gap: 20px;
  }
  .modal-dialog .modal-content .modal-footer-cal .component-mensual .meses .mes-title {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 400px) {
  .panel__day {
    padding: 0.5rem;
  }
  .panel__day .component-day .day-mes__items span {
    height: 18px;
    width: 40px;
    padding: 0;
    text-align: center;
    font-size: 0.7rem;
  }

  .component-day .day-mes__items span {
    height: 20px;
    width: 40px;
    padding: 0;
    text-align: center;
    font-size: 0.7rem;
  }

  .slider-range {
    gap: 5px;
  }

  .modal-dialog .modal-content {
    width: 100%;
  }
  .modal-dialog .modal-content .modal-header-cal,
.modal-dialog .modal-content .cantidad,
.modal-dialog .modal-content .montos,
.modal-dialog .modal-content .modal-footer-cal {
    padding: 5px 10px;
    border: none;
  }
  .modal-dialog .modal-content .modal-header-cal {
    padding-top: 20px;
  }
  .modal-dialog .modal-content .modal-main-cal .montos .data-value {
    width: 90%;
  }
  .modal-dialog .modal-content .modal-main-cal .cantidad {
    gap: 20px;
  }
  .modal-dialog .modal-content .modal-footer-cal .component-mensual .meses .mes-title {
    margin-bottom: 0;
  }
}
/* ----------------------- MODULOS ---------------------- */
.navbar {
  background: #ffffff;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.navbar .navbar-toggler {
  color: #ffffff;
}
.navbar .logo {
  width: 160px;
}
.navbar .logo img {
  width: 100%;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .btn-dark-1,
.navbar .btn-evulus-small {
  padding: 5px 1.5rem 3px;
}

@media screen and (max-width: 992px) {
  .navbar {
    background: black;
  }
  .navbar .logo {
    width: 120px;
  }

  .btn-dark, .btn-dark-1,
.btn-evulus-small {
    font-size: 0.6rem;
    padding: 0px 1rem 0px;
  }

  .btn-dark, .btn-dark-1 {
    border: 2px solid white;
    color: white;
  }
}
.staking,
.transiciones,
.slider-platform,
.pasos,
.participacion,
.reglas {
  padding-top: 58px;
  padding-bottom: 58px;
}

.subtitle {
  font-size: calc(25px + 1.3wv);
  margin-bottom: 40px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
.show-number {
  opacity: 0;
}

.animation-number {
  animation: aparecer 1.3s;
  -webkit-animation: aparecer 1.3s;
}

.requisitos,
.pasos,
.reglas {
  border-bottom: 1px solid #ffffff;
}

.staking {
  position: relative;
  min-height: 100vh;
  padding-top: calc(40px + 7vw);
  background: url(../img/velas.png) top;
}
.staking .staking-content__title {
  padding-top: calc(10px + 2vw);
}
.staking .staking-content__title h2,
.staking .staking-content__title h1 {
  font-size: calc(30px + 3.5vw);
}
.staking .staking-content__title h2 {
  font-weight: 300;
}
.staking .staking-content .btn-evulus {
  font-size: calc(30px + 3vw);
  margin: 50px auto;
  display: table;
  border-radius: 20px;
}
.staking .staking-content__parrafo {
  font-size: calc(14px + .5vw);
}
.staking .staking-content__parrafo h4 {
  color: black;
  padding: 8px;
  font-size: calc(18px + .5vw);
  background: #ffbe1b;
  width: fit-content;
  border-radius: 5px;
}
.staking__img {
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}
.staking__img img {
  position: absolute;
  left: -110px;
}
.staking .btn-green {
  margin: 30px auto 0px auto;
}

/* --------------------- REQUISITOS --------------------- */
.requisitos {
  border-top: 1px solid #ffffff;
}
.requisitos .participacion {
  width: 85%;
  margin: 0 auto;
}
.requisitos .participacion .participacion-content p {
  font-size: calc(14px + .4vw);
}
.requisitos .participacion .participacion-content__items-2 {
  width: fit-content;
  border: 1px solid #ffffff;
  border-radius: 10px;
}
.requisitos .participacion .participacion-content__items-2 a {
  margin: 5px;
  width: 40px;
  background: transparent;
}
.requisitos .participacion .participacion-content__items-2 a span {
  font-size: 8px;
  font-weight: 700;
}
.requisitos .participacion .participacion-content__items-1 {
  width: fit-content;
}
.requisitos .participacion .participacion-content__items-1 a {
  margin: 5px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  background: transparent;
}
.requisitos .participacion .participacion-content__items-1 a img {
  width: 110px;
}
.requisitos .participacion .participacion-content .btn-evulus-white {
  margin: 40px auto;
}

/* ------------------------ PASOS ----------------------- */
/* ----------------------- .REGLAS ---------------------- */
.reglas .row {
  width: 85%;
  margin: 0 auto;
}
.reglas__list {
  list-style: decimal-leading-zero;
  margin-left: 40px;
  position: relative;
  font-size: calc(17px + .5vw);
  font-weight: 600;
}
.reglas__list li {
  margin-bottom: 10px;
}
.reglas__list::after {
  position: absolute;
  content: "";
  width: 30px;
  left: calc(-30px + -40px);
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  background: url(../icons/i-icon.png);
}
.slider-platform {
  background: #ffffff;
}

.transiciones .contador-container {
  color: #ffffff;
}
.transiciones .contador-container h5,
.transiciones .contador-container span {
  font-size: calc(40px + 2.5vw);
}
.transiciones .contador-container p {
  font-size: calc(18px + .5vw);
}

/* ----------------------- CONTACT ---------------------- */
.contact {
  padding: 80px 0px;
  color: #ffffff;
  text-align: center;
  position: relative;
}
.contact__content {
  position: relative;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__content h3 {
  font-size: calc(18px + 1vw);
  margin: 0;
  font-weight: 400;
}
.contact__content h2 {
  font-size: calc(32px + 1vw);
  font-weight: 600;
}

.footer {
  color: #ffffff;
  padding-top: 45px;
  padding-bottom: 45px;
  font-weight: 400;
  font-size: 14px;
}
.footer__content h5 {
  margin-top: 20px;
  font-weight: bolder;
}
.footer__content .btn-evulus-small {
  padding: 0px 15px;
  font-size: 10px;
  margin: 5px 0px;
}
.footer__content .social-icons--white li a img {
  width: 20px;
  height: 20px;
  margin: 0px 10px 0px 0px;
}
.footer__content a:hover {
  color: #ffffff;
  text-decoration: underline;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1280px;
  }

  .staking {
    padding-top: calc(40px + 3vw);
  }
  .staking .staking-content__title {
    padding-top: calc(10px + 1.5vw);
  }
  .staking .staking-content__title h1,
.staking .staking-content__title h2 {
    font-size: calc(30px + 3vw);
  }
  .staking .staking-content .btn-evulus {
    font-size: calc(20px + 3vw);
    margin: 30px auto;
  }
  .staking .staking-content__parrafo h4 {
    font-size: calc(15px + .5vw);
  }
  .staking__img img {
    left: -70px;
  }
  .staking .btn-green {
    margin: 30px auto 0px auto;
  }
}
@media screen and (max-width: 991px) {
  .staking .staking__img img {
    position: relative;
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .social-icons--white li a img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 400px) {
  .btn-evulus-white,
.btn-green,
.btn-evulus-icon,
.btn-evulus-medium {
    font-size: 14px;
  }

  .btn-green {
    padding: 5px 20px;
  }
}

/*# sourceMappingURL=style.css.map */
